.image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.timeText {
  font-size: 10px;
  color: gray;
  margin-top: 10px;
}

.titleText {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hashTag {
  display: inline;
  margin-top: 10px;
  background-color: rgb(239, 246, 253);
  color: rgb(76, 110, 145);
  font-size: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .timeText {
    margin-top: 7px;
    font-size: 7px;
  }

  .titleText {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .hashTag {
    margin-top: 7px;
    font-size: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
  }
}
