$Width: 12%;

.line {
  border-right: 1px solid #c3ff0000;
  margin: 20px 0;
  width: 100%;
}

.nav {
  display: flex;
  margin: 0;
  max-width: $Width;
  min-height: 100vh;
  overflow-y: auto;
  background-color: white;
  border-right: 1px solid #e7e7e7;
  scrollbar-width: none;
  flex-direction: column;
}

.title {
  display: flex;
  font-size: large;
  justify-content: center;
}

.list {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  margin: 1rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.itemIcon {
  display: flex;
  justify-content: center;
}

.itemText {
  font-size: medium;
}

.attendanceBox {
  display: flex;
  background-color: rgba(173, 173, 173, 0.266);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
}

.attendanceBoxTitle {
  display: flex;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.footer {
  position: absolute;
  bottom: 0.5rem;
  height: auto;
  flex-direction: column;
  min-width: $Width;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.copyright {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
}

@media (max-width: 620px) {
  $Width: 17%;
  .nav {
    margin: 0;
    min-width: $Width;
    min-height: 100vh;
    overflow-y: auto;
    background-color: white;
    border-right: 1px solid #e7e7e7;
    scrollbar-width: none;
    flex-direction: column;
  }

  .title {
    display: flex;
    font-size: small;
    justify-content: center;
  }

  .itemText {
    font-size: small;
  }
}
