.followerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.postCountStyle {
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

.countStyle {
  display: flex;
  align-items: center;
  //   justify-content: center;
}
