.holeContainer {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  margin: 60px;
}

.nickname {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profileContainer {
  //   border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-top: 10px;
}

.editImage {
  height: 15px;
  width: 15px;
  margin-left: 30px;
}

.contour {
  border: none;
  border-top: 1px solid lightgray;
  margin-bottom: 30px;
}

.bottomTitle {
  font-size: 20px;
  margin: 30px;
}

.postGird {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.diaryRecordContainer {
  display: flex;
  flex-direction: column;
  background-color: #faede3;
  width: 500px;
  height: 350px;
  border-radius: 15px;
  margin-top: 135px;
  padding: 20px 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.recordTitle {
  font-size: 30px;
}

.recordDate {
  font-size: 40px;
  font-weight: bold;
  margin-left: 150px;
}

.recordContainer {
  margin-left: 40px;
}
.recordBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  background-color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}

.dayStyle {
  font-size: 70px;
  color: #ff7f22;
  margin-right: 20px;
}

.dayStyle2 {
  font-size: 60px;
  color: #ff7f22;
  margin-right: 20px;
  margin-left: 10px;
}

.dayStyle3 {
  font-size: 50px;
  color: #ff7f22;
  margin-right: 20px;
  margin-left: 20px;
}

.bottonContour {
  border: none;
  border-top: 1px solid lightgray;
}

.recordDay {
  display: flex;
  align-items: center;
}

.marginDay {
  margin-right: 60px;
}

.treeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 30px;
  height: 230px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.orangeContainer {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.orangeText {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.orangeButton {
  width: 173px;
  height: 59px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}
