.holeContainer {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  margin: 60px;
}

.nickname {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profileContainer {
  //   border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-top: 10px;
}

.editImage {
  height: 15px;
  width: 15px;
  margin-left: 30px;
}

.contour {
  border: none;
  border-top: 1px solid lightgray;
  margin-bottom: 30px;
}

.bottomTitle {
  font-size: 20px;
  margin: 30px;
}

.postGird {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
